.panel {
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;
    padding: 2%;
    text-align: center;
}