.panel {
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5%;
    padding: 2%;
    text-align: center;
    visibility: hidden;
}

.current-panel {
    animation: fadeIn 3s;
    visibility: visible;
}

.result {
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}